.bodyBlock{
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #6100C2, #CA95FF); 
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  backdrop-filter: blur(5px); /* Add blur to the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top of other content */
}

.profil{
    font-size: 3rem;
    color: white;
    margin-left: 480px;
    align-items: center;
    justify-content: center;
    margin-left: 800px;
}

.infoUser{
    
    display: flex;
    margin-top: 20px;
    margin-left: 220px;
  }
.name{
  
    margin-left: 40px;
    display: flex;
    
    
}
.name p , .imageUser p , .awards p , .achievement p{
    font-size: 30px;
    color: white;
}
.awards p , .achievement p{
    margin-left: 220px;
}
.edit{
    margin-left: 20px;
    margin-top: 30px;
}
.noneAwards {
    color: white;
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100%; 
  }
.blockAwards{
    position: relative;
    width: 250px;
    height: auto; 
    margin-top: 20px;
    background-color: #6225A0; 
    border-radius: 20px; 
    overflow: hidden; 
    text-align: center;
    margin-right: 55px; 
    margin-bottom: 25px;
    margin-left: 220px;

}
.achievementInfo{
    display: flex;
    margin-left: 220px;
}
.achievementFinish , .achievementLevel{
    margin-left: 20px;
    position: relative;
    width: 150px;
    height: 150px; 
    margin-top: 20px;
    background-color: #6225A0; 
    border-radius: 20px; 
    overflow: hidden; 
    text-align: center;
    margin-right: 55px; 
    margin-bottom: 25px;
    
}
.level , .finish{
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100%;
    color: white;
}

.buttonImage{
    background: #56208d;
    border: none;
    cursor: pointer;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    margin-top: 35px;
    color: #ffffff;
    font-size: 15px;
}
.inputImg{
    margin-top: 35px;
}

  
  .inputImg {
    display: none; 
  }
  
  .customFileInput {
    background-color: #6225A0; 
    color: #fff; 
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 90px;
    height: 20px;
    margin-top: 35px;
  }
  .modal {
    width: 290px; 
  max-width: 80%;
  height: 200px; 
  position: absolute;
  right: 30%;
  top: 30%;
  transform: translate(-50%, -50%);

  display: flex;

  justify-content: center;
  margin-top: 200px;
  z-index: 1001;
  }
  
  .input{
    border-radius: 80px;
    border: none;
    height: 30px;
    width: 280px;
   
  }
  .update{
    border-radius: 80px;
    border: none;
    background-color: #56208d;
    color: white;
    padding: 10px;
    margin-left: 90px;
   margin-top: 20px;
   font-size: 18px;
    
  }
  .modalContent{
    color: white;
  }
  .modalContent p{
    font-size: 22px;
  }


  .blockAwardsInfo{
    justify-content: center;
    text-align: center;
  }
  .blockAwardsInfo p{
    font-size: 18px;
    margin-left: 0px;
  }
  .hasImg img{
    /* position: absolute; */
    top: 10px;
    
  }
  @media (max-width: 768px) {
    .name {
      text-align: center;
    }
  
    .edit {
      margin-left: 0;
      margin-top: 10px;
    }
  
    .noneAwards,
    .blockAwards,
    .achievementInfo {
      margin-left: 0;
      margin-right: 0;
    }
    .profil{
      font-size: 2rem;
      margin-left: 280px;
  }
  .infoUser{
    margin-top: 20px;
    margin-left: 120px;
  }
  .achievementInfo{
    margin-left: 60px;
}
.modal {
  margin-top: 100px;
  width: 190px; 
  max-width: 40%;
  height: 100px; 
  position: absolute;
  right: 10%;
  top: 10%;
  transform: translate(-50%, -50%);

  display: flex;

  justify-content: center;
  margin-top: 200px;
  z-index: 1001;

}
  
  }