.bodyBlock{
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #6100C2, #CA95FF);
  justify-content: center;
  align-items: center;
  overflow:hidden;
  height: auto;
}

.pageHeader{
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: normal;
  margin-left: 150px;
  margin-top: 0px;
}
.pageHeadertwo{
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  margin-left: 170px;
  margin-top: 75px;
  
}
.customModal {
  width: 290px; 
  max-width: 80%; 
  height: 200px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.customModalContent{
  background: #e6ccff; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px  #000000;
  
}
.imageButton{
  background: none;
  border: none; 
  padding: 0; 
  cursor: pointer;
  position: absolute;
  top: 0px; 
  right: 5px
}

.customModalContent img {
  cursor: pointer;
  margin: 15px; 
  
}
@media (max-width: 768px) {
  .bodyBlock{
    margin-left: -90px;
  }
}