.bodyBlock{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #6100C2, #CA95FF);
    height: 410vh ;
    justify-content: center;
    align-items: center;
   
  }
.sideText {
    position: absolute;
    top: 2px; 
    left: 203px; 
    color: #fff; 
    font-size: 18px; 
}
.sideText p{
    font-family: 'Inter', sans-serif;
    font-size: 25px; 
}
.textNext{
    margin-top: -20px;
    margin-left: 40px;
}
.program{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 30px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px; 
    padding-left: 20px;
    border-radius: 15px;
    
    width: 920px;
    height: 100px;
}
.programnext{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 30px;
    background-color: #62259F;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px; 
    padding-left: 20px; 
    border-radius: 15px;
    border: 2px solid #FFF;
    width: 420px;
    height: 100px;
}

.forward{
    margin-left: 30px;
}


.mainImg {
    position: relative;
    top: -50px; 
    right: -60px; 
    width: 550px; 
}
.accessible{
    display: flex;
    align-items: center;
    margin-top: 50px;
   
}

.all {
    position: absolute;
    left: 1100px; 
    color: #828181;   
}

.blocksContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; 
    margin-top: 20px;   
    margin-left: 0px;
}
.blockContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%; 
    margin-top: 20px;   
    margin-left: 0px;
}


.accessible2 {
    display: flex;
    align-items: center;
    margin-top: 20px; 
}

.all2 {
    position: absolute;
    color: #828181;
    left: 1100px; 
    
}

.blockCommon {
    position: relative;
    width: 250px; 
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: #6225A0; 
    border-radius: 20px; 
    overflow: hidden; 
    text-align: center;
    margin-right: 55px; 
    margin-bottom: 25px; 
}


.blockCommon img {
    width: 100%; 
    height: auto;
}

.blockCommon p {
    padding: 10px;
    text-align: center; 
    color: #fff; 
    background-color: #62259F; 
    margin: 0; 
    font-size: 25px;
    bottom: 0; 
    width: 100%;
    text-align: center;
}
.button2{
    background: none; 
    border: none; 
    cursor: pointer;
    margin-left: 170px;
}
.accessible23 {
  display: flex;
  align-items: center;
  margin-top: 20px; 
  color: #62259F;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #62259F;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #62259F;
  color: #fff;
}
.programSuccessMessage{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}
.programSuccessMessage p{
  font-size: 17px;
  
}
.customButton{
  width: 10%;
  padding: 10px;
 border: none;
 border-radius: 80px;
 color: #fff;
  background-color: #350961;
}
.noCompleteddDaysResponse{
display: flex;
flex-direction: column;
 border-radius: 15px;
  background-color: #601ca4;
  
  
}
.noCompleteddDaysResponse p{
  font-size: 18px;
  margin-left: 50px;
}
.noCompleteddDaysResponse img {
  margin-top: 5%;
  height: 12%;
  width: 12%;
  padding: 2%;
}
.suggestedBlock{
  background-color: #601ca4;
  border-radius: 15px;
  width: 30%;
  padding: 10px;
  text-align: center;
}

@media (max-width: 768px) {
    .sideText {
      left: 80px;  
    }
    .program {
      width: 60%; 
      flex-direction: column; 
      align-items: center; 
    }
  
    .programnext {
      width: 80%; 
      margin-top: 10px; 
      font-size: 15px;
    }
    .mainImg {
      top: -120px; 
      left: 170px; 
      width: 70%; 
    }
  
    .blocksContainer {
      flex-direction: column; 
      align-items: center; 
      margin-top: 20px; 
    }
  
    .all {
      position: static;
      margin-top: 10px; 
      text-align: center; 
    }
  
    .blocksContainer, .blockContainer {
      justify-content: center;
    }
  
    .blockCommon {
      margin-right: 0; 
      margin-bottom: 20px; 
    }
  
    .blockCommon img {
      border-radius: 0; 
      width: 60%;
    }
    .bodyBlock{
        height: 500vh;
    }
    .all{
       margin-left: 40px;
    }
    .all p{
        font-size: 20px;
    }
    .accessible p{
        font-size: 20px;
    }
  }
  .suggestedBlock p{
    
    font-size: 18px;
  }
  
  /* .suggestedBlockContent{
    font-size: 10px;
  } */