.leftRectangle {
    width: 183px;
    height: 100%;
    background-color: #471E70;
    position: fixed;
    left: 0;
    top: 0; 
}

.textOverRectangle {
    position: fixed;
    top: 20px; 
    left: 20px; 
    color: #fff; 
    font-size: 18px; 
}
.logoutText {
    
    position: fixed;
    bottom: 20px; 
    left: 10px;
    color: #fff; 
    font-size: 18px; 
    display: flex;
    align-items: center;
}
.logoutText img {
    margin-right: 0px; 
}
.sideText {
    position: absolute;
    top: 2px; 
    left: 203px; 
    color: #fff; 
    font-size: 18px; 
}
.sideText p{
    font-family: 'Inter', sans-serif;
    font-size: 25px; 
}
.textNext{
    margin-top: -20px;
    margin-left: 40px;
}
.textOver , .logoutText{
    display: flex;
    align-items: center;
    width: auto;  
}
.textOver img , .mainTextOver img {
    margin-right: 10px;
}
.textOver:hover , .logoutText:hover{
    background-color: #62259F; 
    color: #fff; 
    border-radius: 20px;
    padding-right: 20px;
    
}
a{
    text-decoration: none;
    color: #fff;
}
.buttonLog{
   background: none;
   border: none;
   color: #fff;
   font-size: 18px;
}

@media (max-width: 768px) {
    .leftRectangle{
        width: 70px;
    }
    .textOver p {
        display: none; 
      }
    .buttonLog p{
        display: none; 
    }
    .logo{
        width: 70%;
        margin-left: -20px;
    }
  }

